<?xml version="1.0" encoding="UTF-8"?>
<web-app>
    <servlet>
        <servlet-name>AloMundo</servlet-name>
        <servlet-class>br.ufscar.dc.dsw.AloMundoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Main Servlet</servlet-name>
        <url-pattern></url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Ver Cliente Servlet</servlet-name>
        <servlet-class>br.ufscar.dc.dsw.servlet.VerClientesServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>Ver Cliente Servlet</servlet-name>
        <url-pattern>/admin/verCliente</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Ver Locadora Servlet</servlet-name>
        <servlet-class>br.ufscar.dc.dsw.servlet.VerLocadorasServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>Ver Locadora Servlet</servlet-name>
        <url-pattern>/admin/verLocadora</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Ver Locadoras Todos Servlet</servlet-name>
        <servlet-class>br.ufscar.dc.dsw.servlet.VerLocadorasTodosServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>Ver Locadoras Todos Servlet</servlet-name>
        <url-pattern>/todos/verLocadorasTodos</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Novo Cliente Servlet</servlet-name>
        <servlet-class>br.ufscar.dc.dsw.servlet.NovoClienteServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>Novo Cliente Servlet</servlet-name>
        <url-pattern>/admin/novoCliente</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Deleta Cliente Servlet</servlet-name>
        <servlet-class>br.ufscar.dc.dsw.servlet.DeletaClienteServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>Deleta Cliente Servlet</servlet-name>
        <url-pattern>/admin/deletaCliente</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Edita Cliente Servlet</servlet-name>
        <servlet-class>br.ufscar.dc.dsw.servlet.EditaClienteServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>Edita Cliente Servlet</servlet-name>
        <url-pattern>/admin/editaCliente</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Atualiza Cliente Servlet</servlet-name>
        <servlet-class>br.ufscar.dc.dsw.servlet.AtualizaClienteServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>Atualiza Cliente Servlet</servlet-name>
        <url-pattern>/admin/atualizaCliente</url-pattern>
    </servlet-mapping>

<servlet>
        <servlet-name>Adiciona Cliente Servlet</servlet-name>
        <servlet-class>br.ufscar.dc.dsw.servlet.AdicionaClienteServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>Adiciona Cliente Servlet</servlet-name>
        <url-pattern>/admin/adicionaCliente</url-pattern>
    </servlet-mapping>

<servlet>
        <servlet-name>Adiciona Locacao Servlet</servlet-name>
        <servlet-class>br.ufscar.dc.dsw.servlet.AdicionaLocacaoServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>Adiciona Locacao Servlet</servlet-name>
        <url-pattern>/user/adicionaLocacao</url-pattern>
    </servlet-mapping>

        <servlet>
        <servlet-name>Edita Locadora Servlet</servlet-name>
        <servlet-class>br.ufscar.dc.dsw.servlet.EditaLocadoraServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>Edita Locadora Servlet</servlet-name>
        <url-pattern>/admin/editaLocadora</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Atualiza Locadora Servlet</servlet-name>
        <servlet-class>br.ufscar.dc.dsw.servlet.AtualizaLocadoraServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>Atualiza Locadora Servlet</servlet-name>
        <url-pattern>/admin/atualizaLocadora</url-pattern>
    </servlet-mapping>
    
   <servlet>
        <servlet-name>Ver Locacoes Cliente Servlet</servlet-name>
        <servlet-class>br.ufscar.dc.dsw.servlet.VerLocacoesClienteServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>Ver Locacoes Cliente Servlet</servlet-name>
        <url-pattern>/user/verLocacoesCliente</url-pattern>
    </servlet-mapping>
                            
    <welcome-file-list>
        <welcome-file>todos/index.jsp</welcome-file>
    </welcome-file-list>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>