<?xml version="1.0" encoding="UTF-8"?>
<web-app>
    <servlet>
        <servlet-name>AloMundo</servlet-name>
        <servlet-class>br.ufscar.dc.dsw.AloMundoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Main Servlet</servlet-name>
        <url-pattern></url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Ver Cliente Servlet</servlet-name>
        <servlet-class>br.ufscar.dc.dsw.servlet.VerClientesServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>Ver Cliente Servlet</servlet-name>
        <url-pattern>/admin/verCliente</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Novo Cliente Servlet</servlet-name>
        <servlet-class>br.ufscar.dc.dsw.servlet.NovoClienteServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>Novo Cliente Servlet</servlet-name>
        <url-pattern>/admin/novoCliente</url-pattern>
    </servlet-mapping>
    
    <welcome-file-list>
        <welcome-file>todos/index.jsp</welcome-file>
    </welcome-file-list>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>